.bg {
   background-color:rgb(167, 54, 167);
}

.img1{
    height: 75px;
}

.slider{
    height: 300px;
}
.title{
    color:rgb(167, 54, 167);
}

.button{
    color:rgb(167, 54, 167);
}

.footer{
    /* border: 1px solid black; */
    background-color:rgb(167, 54, 167);
}